@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root { height: 100%; }
body { margin: 0; font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial; }
.tabular-nums { font-variant-numeric: tabular-nums; }
*,*::before,*::after { box-sizing: border-box; }
